.btn__eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  opacity: 0.3;

  &.active {
    opacity: 1;
  }
}
