.btn__eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  opacity: 0.3;

  &.active {
    opacity: 1;
  }
}

.accept {
  position: absolute;
  opacity: 0;
  right: 12%;
  transform: scale(2);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.hide {
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);

  & ~ .accept {
    opacity: 1;
    transform: scale(1);
  }
}
