<div
  class="flex min-h-full flex-col justify-center px-6 py-8 lg:px-8 rounded-lg shadow-xl mx-auto w-1/4 my-10 h-5/6 border-solid border border-slate-100 relative"
>
  <div
    [ngClass]="{
      hide: hide
    }"
    class="sm:mx-auto sm:w-full sm:max-w-sm"
  >
    <img
      class="mx-auto h-14 w-auto"
      src="assets/images/logo.svg"
      alt="Your Company"
    />
    <h2
      class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Set security password
    </h2>
  </div>
  <div
    [ngClass]="{
      hide: hide
    }"
    class="mt-6 sm:mx-auto sm:w-full sm:max-w-sm"
  >
    <form class="space-y-6" [formGroup]="form" (ngSubmit)="submit()">
      <div>
        <label
          for="password"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Password</label
        >
        <div class="mt-2 relative">
          <input
            (input)="passChanged()"
            id="password"
            name="password"
            formControlName="password"
            [type]="typeFirst"
            class="block w-full rounded-md border-0 py-1.5 pr-12 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <button
            class="btn__eye"
            [ngClass]="{
              active: typeFirst === 'text'
            }"
            type="button"
            (click)="showPassword(1)"
          >
            <img src="assets/images/eye-logo.png" alt="security eye" />
          </button>
        </div>
      </div>
      <div>
        <label
          for="confirm-password"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Confirm Password</label
        >
        <div class="mt-2 relative">
          <input
            id="confirm-password"
            name="confirm-password"
            formControlName="confirm"
            [type]="typeSecond"
            class="block w-full rounded-md border-0 py-1.5 pr-12 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <button
            class="btn__eye"
            [ngClass]="{
              active: typeSecond === 'text'
            }"
            type="button"
            (click)="showPassword(2)"
          >
            <img src="assets/images/eye-logo.png" alt="security eye" />
          </button>
        </div>
      </div>
      <div>
        <p class="my-1.5 mt-0.5 font-semibold text-sm text-slate-500">
          Your password strength is : {{ strength }}
        </p>
        <div class="flex items-center justify-center">
          <span
            class="flex-auto h-1.5 block rounded-l-md"
            [ngClass]="{
              'bg-slate-300': !strength && !password.errors?.minlength,
              'bg-red-600': strength === 'low' || password.errors?.minlength,
              'bg-orange-500': strength === 'average',
              'bg-green-500': strength === 'strong'
            }"
          ></span
          ><span
            class="flex-auto h-1.5 block"
            [ngClass]="{
              'bg-slate-300':
                strength === 'low' ||
                (!strength && !password.errors?.minlength),
              'bg-red-600': password.errors?.minlength,
              'bg-orange-500': strength === 'average',
              'bg-green-500': strength === 'strong'
            }"
          ></span
          ><span
            class="flex-auto h-1.5 block rounded-r-md"
            [ngClass]="{
              'bg-slate-300':
                strength === 'low' ||
                strength === 'average' ||
                (!strength && !password.errors?.minlength),
              'bg-red-600': password.errors?.minlength,
              'bg-green-500': strength === 'strong'
            }"
          ></span>
        </div>
        <p
          *ngIf="password.errors?.minlength && password.touched"
          class="mb-1.5 mt-0.5 font-semibold text-xs text-red-600"
        >
          Password must be more than 8 characters
        </p>
        <p
          *ngIf="form.errors?.['match_error'] && password.touched && confirm.touched"
          class="mb-1.5 mt-0.5 font-semibold text-xs text-red-600"
        >
          {{ form.errors?.['match_error'] }}
        </p>
        <p
          *ngIf="password.errors?.['allowable']"
          class="mb-1.5 mt-0.5 font-semibold text-xs text-red-400"
        >
          For greater password strength, add a combination of
          numbers/letters/symbols
        </p>
        <p
          *ngIf="password.errors?.['normal'] "
          class="mb-1.5 mt-0.5 font-semibold text-xs text-orange-300"
        >
          For maximum security, add the symbols
        </p>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!strength || strength === 'low' || password.errors?.minlength ||form.errors?.['match_error']"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:opacity-25 disabled:bg-indigo-600"
        >
          Confirm
        </button>
      </div>
    </form>
  </div>
  <img
    class="mx-auto w-auto accept"
    src="assets/images/accept.png"
    alt="Accept"
  />
</div>
